<div class= "whole container-fluid full-width" >
  <div class="reader row row-no-gutter" >
    <div class = "nav col-sm-1"  (click)="hide()">
        <app-menu ></app-menu>
    </div>
    <section class = "big">

      <div appScrollAnimate [callback] = "scrollHandler"  class = "txt">
        <div [id]="index+1" class = "read-vignette" *ngFor="let vignette of vignettes; let index = index" (click)="setActingVignette(vignette)">
          <div  class="reader-title">
            {{vignette.name}}
          </div>

          <div *ngFor="let t of vignette.text; let index = index" class = "part" [id] = "index + 1" class = "reader-text">
            {{t}}
            <span class = "last" [id] = "index + 1">x</span>
          </div>


        </div>
      </div>
    </section>

    <div class="" >
      <app-map appResize [standalones]= "standalones" [text]="text" [scrollTop]="scrollTop" [actingVignette] = "actingVignette" id = "mapid"></app-map>
    </div>

  </div>
</div>
