<div class= "container-fluid full-width">
  <div class="row row-no-gutter">

    <app-menu>  </app-menu>

  <div class="col-sm- 10 vignette" *ngFor="let vignette of vignettes" (click)="setEditVignette(vignette)">
    <div class="">
      {{vignette.name}}
    </div>
    <div class="">
      {{vignette.text}}
    </div>
    <div class="">
      {{vignette.characters}}
    </div>
    <div class="">
      {{vignette.location}}
    </div>
    <div class="">
      <button class="btn btn-default" (click)="deleteVignette(vignette)">Delete</button>
    </div>
  </div>
  <div>

  <vignettes-edit [editVignette]="editVignette" ></vignettes-edit>
