
<div class="reader row row-no-gutter" >
  <!-- <div class = "nav col-sm-1"  (click)="hide()">
    <app-menu ></app-menu>
  </div> -->

  <h1>Filter Vignettes</h1>

  <button class = "col-sm-5 btn-filter" type="button" name="button" (click) = "assembleCharacters()" (click) = "assembleStandaloneCharacters()">Read by Character</button>
  <button class = "col-sm-5 btn-time btn-filter" type="button" name="button">Read by Time</button>

  <div class="row filter-container">
    <div class="col-sm-3 character" *ngFor="let char of filteredCharacters">
      <button class = "btn-filter" type="button" name="button" (click) = "findByCharacter(char)" (click) = "findStandaloneByCharacter(char)" >{{char}}</button>
    </div>
    <div class="filter-read-container">

    <div class="filter-read-vignette" *ngFor="let vignette of filteredVignettes | orderBy: 'order'">
      <div class="title">
        {{vignette.name}}
      </div>

      <div class="filter-reader-text">
      <!-- {{vignette.charsacters}} -->
      {{vignette.text}}
    </div>
    </div>
  </div>

  </div>


</div>
