<div class= "container-fluid full-width">
  <div class="row row-no-gutter">


    <div class="col-sm-2">
      <app-menu>  </app-menu>
    </div>

    <div class = "forms row col-sm-4">
      <h1>Add A Standalone</h1>

      <a class="add-toggle acting col-sm-6" >Standalone</a>
      <a class="add-toggle col-sm-6" routerLink="/add">Narrative</a>

      <input class="form-control title" type="text" placeholder="Title" [(ngModel)]="this.newStandalone.name" [ngModelOptions]="{standalone: true}"/>
      <textarea id = "standalone-input" name="name" rows="8" cols="80"  [(ngModel)]="this.newStandalone.text"></textarea>

<!-- <input class="form-control" type="text" placeholder="Characters" [(ngModel)]="this.newVignette.characters[0]" [ngModelOptions]="{standalone: true}"/>
<input class="form-control" type="text" placeholder="Characters" [(ngModel)]="this.newVignette.characters[1]" [ngModelOptions]="{standalone: true}"/> -->
<button class="btn btn-default btn-add" (click)="insertNewStandalone()"> ADD </button>
</div>

<app-map class = "add-map col-sm-4" (click) = "setLocation($event)" id = "mapid" ></app-map>
<button class="btn btn-default btn-remove" (click)="removeMarkers()"> REMOVE </button>




</div>
</div>


<!-- <leaflet></leaflet> -->
